html, body {
    height: 100%;
    margin: 0 auto;
    background:#000;
}

.ball-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%);
    z-index: 1;
}

.ball-container > .ball {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    animation: bounce 2s linear infinite, Left 25s linear infinite alternate;
}

.ball-container > .ball:hover {
    cursor: pointer;
}

@-webkit-keyframes bounce {
    from, to {
        bottom: 150px;
        height: 100px;
        background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%);
    }

    40% {
        bottom: 0;
        height: 100px;
        width: 110px;
    }


    89% {
        bottom: 0;
        height: 90px;
        width: 110px;
    }


    80% {
        bottom: 400px;
        height: 100px;
        background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
    }
}

@keyframes Left {
    from {left: 0;}
    to   {left: 90%;}
}

