html, body {
    height: 100%;
    margin: 0 auto;
    background:#000;
}

.ball-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%);
    position: relative;
}

.ball-container > .ball {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%);
    position: absolute;
}

.ball-container > .ball:hover {
    cursor: pointer;
}


